<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactName</key>
	<string>MailMate User</string>
	<key>description</key>
	<string>Use LLM to detect spam and phishing emails. Supports OpenAI-compatible APIs.</string>
	<key>name</key>
	<string>LLM MailGuard</string>
	<key>uuid</key>
	<string>A4D630D9-3225-45D1-ADB6-181B3B940DA6</string>
</dict>
</plist>
